* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
}

@font-face {
    font-family: 'Inconsolata';
    src: url(./assets/Inconsolata-Medium.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Inconsolata';
    src: url(./assets/Inconsolata-Bold.ttf) format('truetype');
    font-weight: bold;
}

:root {
    --white: #ecfdf5;
    --secondary: #BBF7D0;
    --accent: #4338ca;
    --black: #1C1917;

    --maximum: #be123c;
    --high: #ea580c;
    --medium: #fde047;
    --low: #65a30d;

    font-family: 'Inconsolata';
}

/* FULL DESKTOP */
@media (min-width: 1000px) {
    :root {
        --font-400: 1rem;
        --font-500: 1.1rem;
        --font-600: 1.3rem;
        --font-700: 1.5rem;
        --font-900: 2.8rem;

        --popup-height: min-content;
        --popup-width: 600px;
        --form-grid: 1fr / 130px 1fr;

        --task-grid: 1fr / repeat(3, min-content) 1fr;
        --task-btn-col: 4/5;
        --task-btn-place: center end;
    }
}
@media (max-width: 1000px) {
    :root {
        --font-400: 1rem;
        --font-500: 1.1rem;
        --font-600: 1.3rem;
        --font-700: 1.5rem;
        --font-900: 2.8rem;

        --popup-height: min-content;
        --popup-width: min-content;
        --form-grid: min-content 1fr / min-content;

        --task-grid: repeat(2, min-content) / repeat(3, min-content);
        --task-btn-col: 1/4;
        --task-btn-place: center start;
    }
}

.hidden {
    display: none !important; 
}

#page-wrapper {
    display: grid;
    grid: 8vh 1fr / 20vw 1fr;
    width: 100vw;
    height: 100vh;
}

button {
    font-family: 'Inconsolata';
    white-space: nowrap;
    cursor: grab;
    border-radius: 10px;
    border: 2px solid var(--black);
    background-color: var(--secondary);
    transition-duration: 200ms;
}
button:is(:hover, :focus) {
    filter: saturate(180%);
    transition-duration: 100ms;
}
button:active {
    background-color: var(--accent);
    transition-duration: 100ms;
}

#sidebar {
    border-right: 2px solid var(--black);
    grid-row: 2 / 3;
    grid-column: 1;
    padding: 0px 6%;
    user-select: none;
    background-color: var(--white);
}
.incoming-wrap {
    margin: 20px 0px;
    width: 100%;
}
.incoming-wrap > div::before{
    content: url(./assets/calendar.svg);
    position: absolute;
    left: 10px;
    top: 20%;
}
.incoming-wrap > div {
    padding: 5% 10% 5% 25%;
    text-align: left;
    font-size: var(--font-600);
    font-weight: bold;
    cursor: grab;
    position: relative;
}
:is(.incoming-wrap > div,
#deck ul > li,
#deck ul > div):is(:hover, :focus) {
    filter: saturate(0%);
    background-color: var(--secondary);
    border-radius: 5px;
    transition-duration: 300ms;
}
#deck {
    width: 100%;
}
#deck ul {
    list-style-type: none;
    margin-bottom: 10%;
    width: 100%;
}
#deck div {
    padding: 2% 10% 2% 25%;
    cursor: grab;
    font-size: var(--font-500);
    font-weight: bold;
    position: relative;
}
#deck > ul > div::before{
    content: url(./assets/layers.svg);
    position: absolute;
    left: 10px;
    top: 15%;
}
#deck ul li {
    width: 100%;
    font-size: var(--font-400);
    font-weight: normal;
    padding: 2% 5% 2% 20%;
}
#deck ul li.completed {
    text-decoration: line-through;
    filter: opacity(.7);
}
#sidebar .current-view {
    background-color: var(--secondary);
    font-weight: bold;
    border-radius: 5px;
}
#sidebar .current-view:is(:hover, :focus) {
    cursor: default;
    filter: saturate(100%);
}

header {
    border-bottom: 2px solid #000;
    grid-column: 1 / 3;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    padding: 0% 1%;

    background-color: var(--secondary);
}
header > h1 {
    user-select: none;
    font-size: var(--font-900);
    font-family:'Inconsolata';
}
#new-taskgroup {
    padding: 3% 10% 3.5% 10%;
    font-size: var(--font-600);
}

#main-container {
    display: grid;
    grid: 8% 1fr / 1fr;
    gap: 2%;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
#main-container::-webkit-scrollbar {
    display: none;
}
#main-container .main-head {
    height: 100%;
    padding: 0% 6%;
    display: flex;
    align-items: center;
    background-color: var(--white);
    justify-content: space-between;
}
#main-container .main-head .head-title {
    font-size: var(--font-700);
    font-weight: bold;
}
#main-container .main-head > button::before {
    content: url(./assets/trash.svg);
}
#main-container .main-head > button {
    border: none;
    background-color: var(--white);
    scale: 1.2;
}
#main-container .main-body {
    padding: 0% 5%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.main-body .time-panel {
    border: 2px solid var(--black);
    border-radius: 5px;
    padding: 0% 2% 2% 2%;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--white);
}
.main-body .time-panel .time-title {
    font-size: var(--font-600);
    padding: 1% 0%;
    border-bottom: 2px solid var(--secondary);
}
.main-body .time-panel .time-panel-tasks ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.time-panel-tasks ul > li {
    display: grid;
    gap: 3%;
    grid: 1fr / 1fr min-content min-content;
    place-items: start;

    white-space: nowrap;
    padding: 0% 1%;
    border-bottom: 1px solid var(--secondary);
}
.time-panel-tasks ul > li.completed {
    text-decoration: line-through;
    filter: opacity(.7);
}
.time-panel-tasks ul > li > span:not(:first-child) {
    text-align: right;
    filter: opacity(60%);
    cursor: grab;
}

.time-panel-tasks ul > li > span:not(:first-child):is(:hover, :focus) {
    color: var(--accent);
}
.time-panel-tasks ul > li > span:first-child > div {
    display: flex;
    gap: 2rem;
    font-size: var(--font-500);
}
input[type="checkbox"] {
    appearance: none;
    position: relative;
}
input[type="checkbox"]::before {
    content: '';
    height: var(--font-400);
    width: var(--font-400);
    border: 1px solid var(--black);
    border-radius: 3px;
    background-color: var(--white);
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 1px 1px 0px var(--black);
    font-size: var(--font-600);
    line-height: 70%;
    text-align: center;
}
input[type="checkbox"]:hover::before{
    box-shadow: 1px 1px 2px var(--accent);
    transition-duration: 300ms;
}
input[type="checkbox"]:checked::before {
    background-color: var(--accent);
    content: '♠';
}
.no-incoming-panel {
    border: 2px solid var(--black);
    border-radius: 5px;
    padding: 2%;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--white);
}
.no-incoming-panel > p {
    font-size: var(--font-600);
    font-weight: bold;
    border-bottom: 2px solid var(--secondary);
    margin-bottom: 2%;
}
.no-incoming-panel > p:first-child {
    margin-bottom: 4%;
    
}
.time-panel.incoming {
    border: none;
    padding-left: 1%;
    font-size: var(--font-400);
    border-left: 3px solid var(--secondary);
    width: min-content;
    white-space: nowrap;
}
.time-panel.incoming .time-title {
    font-weight: bold;
    font-size: var(--font-500);
    border-bottom: none;
    cursor: grab;
}
.time-panel.incoming .time-title:hover {
    transform: translateX(.5%);
}
.time-panel.incoming > ul {
    list-style-type: none;
    margin-left: 1%;
    font-size: var(--font-500);
}
.time-panel.incoming > ul > li {
    margin-bottom: 1%;
    cursor: grab;
}
.time-panel.incoming > ul > li:is(:hover, :focus) {
    transform: translateX(.5%);
}
.time-panel-tasks li.maximum {
    border-left: 3px solid var(--maximum);
    border-radius: 5px;
}
.time-panel-tasks li.high {
    border-left: 3px solid var(--high);
    border-radius: 5px;
}
.time-panel-tasks li.medium {
    border-left: 3px solid var(--medium);
    border-radius: 5px;
}
.time-panel-tasks li.low {
    border-left: 3px solid var(--low);
    border-radius: 5px;
}
.time-panel.outdated .time-panel-tasks > ul {
    filter: opacity(.75);
}
.body-head {
    border-bottom: 2px solid var(--secondary);
    padding: 2% 0%;
}
.body-head .body-title-wrap {
    display: flex;
    justify-content: space-between;
    padding: 1% 0%;
    font-size: var(--font-700);
}
.body-title-wrap .body-cdate {
    font-size: var(--font-400);
    filter: opacity(.6);
}
.body-head .body-priority {
    font-size: var(--font-500);
    font-weight: bold;
    margin-bottom: 1%;
}
.body-head .body-priority.maximum {
    color: var(--maximum);
}
.body-head .body-priority.high {
    color: var(--high);
}
.body-head .body-priority.medium {
    color: var(--medium);
}
.body-head .body-priority.low {
    color: var(--low);
}
.body-head p:last-of-type {
    margin-bottom: 1%;
    font-size: var(--font-500);
}
.body-head .body-description {
    filter: opacity(.8);
    padding: 1% 0%;
}
.body-tasks .tasks-header p:nth-child(2) {
    font-size: var(--font-500);
    font-weight: normal;
} 
.body-tasks .tasks-header {
    font-size: var(--font-600);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.body-tasks .tasks-header button {
    padding: 3px 10px;
    font-size: var(--font-500);
}
.body-tasks > div:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.body-tasks .task {
    border-radius: 5px;
    background-color: var(--secondary);
    padding: .5% 2%;
    display: grid;
    grid: var(--task-grid);
    place-items: center;
    gap: 1rem;
    white-space: nowrap;
}
.body-tasks .task.completed {
    filter: opacity(.7);
}
.body-tasks .task.completed .task-title {
    text-decoration: line-through;
}
.body-tasks .task.maximum {
    border-left: 3px solid var(--maximum);
}
.body-tasks .task.maximum .task-priority {
    color: var(--maximum);
}
.body-tasks .task.high {
    border-left: 3px solid var(--high);
}
.body-tasks .task.high .task-priority {
    color: var(--high);
}
.body-tasks .task.medium {
    border-left: 3px solid var(--medium);
}
.body-tasks .task.medium .task-priority {
    color: var(--medium);
}
.body-tasks .task.low {
    border-left: 3px solid var(--low);
}
.body-tasks .task.low .task-priority {
    color: var(--low);
}
.body-tasks .task .task-title {
    font-size: var(--font-500);
    place-self: center start;
    font-weight: bold;
    grid-column: 1/2;
}
.body-tasks .task .task-ddate {
    grid-column: 2/3;
    filter: opacity(.8);
}
.body-tasks .task .task-priority {
    grid-column: 3/4;
    filter: opacity(.8);
}
.body-tasks .task .buttons {
    place-self: var(--task-btn-place);
    grid-column: var(--task-btn-col);
}
.body-tasks .task .buttons > button{
    padding: 3px 10px;
    font-size: var(--font-400);
    margin-left: 10px;
}
.body-tasks .task .buttons > button:first-of-type::before {
    content: url(./assets/trash.svg);
    position: absolute;
    scale: 1.2;
    top: -12px;
    left: 0px;
}
.body-tasks .task .buttons > button:first-of-type {
    background-color: var(--secondary);
    border: none;
    position: relative;
    margin-right: 10px;
}

.body-head .buttons {
    margin-bottom: 1%;
}
.body-head .buttons button {
    padding: 2px 10px;
    font-size: var(--font-400);
    margin-right: 10px;
}
.body-head .buttons button:first-of-type {
    position: relative;
    background-color: white;
    border: none;
    margin-right: 20px;
}
.body-head .buttons button:first-of-type::before {
    content: url(./assets/trash.svg);
    position: absolute;
    scale: 1.2;
    top: -14px;
    left: 0px;
}
.checkbox-wrap > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-left: 3px solid var(--secondary);
    border-radius: 5px;
    padding: 10px 10px;
}
.checkbox-wrap > ul > li {
    font-size: var(--font-500);
    display: flex;
    gap: 30px;
    user-select: none;
    border-bottom: 1px solid white;
}
.checkbox-wrap > ul > li:hover {
    border-bottom: 1px solid var(--secondary);
}
.checkbox-wrap > ul > li > label {
    cursor: grab;
}
.checkbox-wrap > ul > li.completed {
    text-decoration: line-through;
    filter: opacity(.7);
}
.complete .body-head > p:last-of-type {
    text-decoration: line-through;
    filter: opacity(.7);
}
.complete .buttons button:last-of-type {
    filter: opacity(.7);
}

#object-panel {
    border: 2px solid var(--black);
    border-radius: 5px;
    height: var(--popup-height);
    width: var(--popup-width);
    padding: 20px;
    z-index: 2;
    position: fixed;
    background-color: var(--white);
    box-shadow: 0 0 500px 50px var(--black);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#object-panel > p {
    font-size: var(--font-700);
    font-weight: bold;
    padding-bottom: 15px;
} 
#object-panel form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: var(--font-500);
    border-top: 2px solid var(--accent);
    padding: 10px;
}
#object-panel form > div {
    display: grid;
    grid: var(--form-grid);
    gap: 10px;
    border-bottom: 2px solid var(--secondary);
    padding: 5px 0;
}
#object-panel form > div > :is(input, select, textarea):not(#if-checkbox),
#checkbox-fieldset div > input:not(input[type="checkbox"]),
#checkbox-fieldset fieldset {
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 5px;
    font-family: 'Inconsolata';
    font-size: var(--font-500);
    padding: 2px 5px;
    box-shadow: inset 0 2px 8px -5px var(--black);
}
#object-panel form > .buttons {
    border: none;
    display: flex;
    justify-content: space-between;
}
#object-panel form > .buttons > button{
    width: min-content;
    font-size: var(--font-500);
    padding: 3px 10px;
}
#checkbox-fieldset {
    grid-column: 1/3;
    grid-row: 2/3;

    display: grid;
    grid: min-content 1fr / 1fr min-content;
    gap: 20px;
}
#checkbox-fieldset div {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
}
#checkbox-fieldset div button {
    padding: 3px 10px;
    font-size: var(--font-400);
}
#checkbox-fieldset div > input {
    width: 70%;
}
#checkbox-fieldset fieldset {
    grid-column: 1/3;
    grid-row: 2/3;
    min-height: 100px;

    box-shadow: none;
}
#checkbox-fieldset fieldset > div {
    width: min-content;
    white-space: nowrap;
    display: flex;
    gap: 30px;
    margin: 5px 0;
    filter: opacity(0.7);
}